/* label → todas las <label>
   .label → class="label"
   #label → id="label"
*/

body {
  font-family: Tahoma; /* Fuente del texto */
  background: linear-gradient(135deg, #ffeb3b, #ff7043); /* Fondo degradado */
  min-height: 100vh; /* Altura mínima pantalla completa */
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontal */
  align-items: center; /* Centra vertical */
}

.container {
  background: #fff; /* Fondo blanco tarjeta */
  padding: 2rem 3rem; /* Espaciado interno */
  border-radius: 15px; /* Esquinas redondeadas */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* Sombra suave */
  text-align: center; /* Texto centrado */
  width: 300px; /* Ancho fijo */
  border: 4px solid #333; /* Borde oscuro */
}

.row {
  font-weight: bold; /* Texto en negrita */
  color: #352f2f; /* Color de letra */
  display: block; /* Ocupa toda la línea */
  margin-bottom: 0.5rem; /* Espacio debajo */
  text-align: left; /* Alineado a la izquierda */
}

input[type="text"], select {
  width: 100%; /* Ocupa todo el ancho */
  padding: 10px; /* Espacio interno */
  margin: 10px 0 20px 0; /* Márgenes (arriba, der, abajo, izq) */
  border: 2px solid #171111; /* Borde oscuro */
  border-radius: 8px; /* Esquinas redondeadas */
  font-size: 1rem; /* Tamaño de texto */
}

button {
  background: #4caf50; /* Fondo verde */
  color: #fff; /* Texto blanco */
  font-size: 1.1rem; /* Texto más grande */
  padding: 10px 20px; /* Relleno interno */
  border: none; /* Sin borde */
  border-radius: 50px; /* Forma redondeada */
  cursor: pointer; /* Manito al pasar */
}

button:hover {
  background: #388e3c; /* Verde más oscuro */
  transform: scale(1.05); /* Aumenta un 5% */
}

.inicio {
  font-size: 2rem; /* Tamaño de fuente */
  color: #2a2525; /* Color de texto */
  margin-bottom: 1.5rem; /* Margen inferior */
}