<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monopoly </title>
  <link rel="icon" href="../assets/pestaña.png" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <video autoplay muted loop class="position-fixed top-0 start-0 w-100 h-100 object-fit-cover z-n1">
    <source src="../assets/Video de WhatsApp 2025-09-05 a las 09.17.17_5b541102.mp4" type="video/mp4">
  </video>

  <div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-10 col-md-6 col-lg-4 bg-white bg-opacity-50 backdrop-blur rounded-4 shadow-lg p-5 text-center">
      
      <img src="../assets/Monopoly-Logo.svg.png" alt="Logo" class="img-fluid mb-4">
     
      <div class="d-grid gap-3">
        <a href="formularios.html" target="_blank" class="btn btn-light fw-bold py-2 rounded-pill"><i class="bi bi-dice-5-fill text-primary me-5"></i> JUGAR</a>
        <a href="ajustes.html" target="_blank" class="btn btn-light fw-bold py-2 rounded-pill"><i class="bi bi-gear-fill text-success me-5"></i>AJUSTES</a>
        <a href="como_jugar.html" target="_blank" class="btn btn-light fw-bold py-2 rounded-pill"><i class="bi bi-question-circle-fill text-warning me-2"></i>¿CÓMO JUGAR?</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
